*, *:before, *:after {
  box-sizing: border-box;
}

html {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body {
  margin: 0px;
}

header {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 7fr 4fr;
  background-color: #01D69F;
}

h1 {
  padding: 5px 5px 3px 5px;
  font-size: 1.1em;
  margin: 0.9em 0 1em 1em;
  font-weight: bold;
  color: #FFFFFF;
}

nav {
  text-align: right;
  margin: 0px;
}

nav > ul {
  padding: 0;
  font-size: 1.2em;
  margin: 1em 0.5em 1em 0;
}

nav > ul> li {
  display: inline-block;
  padding: 0px 10px 0px 0px;
}
footer {
  background-color: #01D69F;
  text-align: right;
  font-size: 20px;
  padding: 10px;
}

.container {
  width: 900px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 6fr 4fr;
  grid-template-rows: 308.75px auto;
  background-color: #25547C;
}

.one > img {
  width: 100%;
  padding-bottom: 5px;
}

.one {
  max-height: 300px;
}
/* .two {
  max-width: 370px;
  font-weight: bold;
  text-align: center;
} */

.two > h2 {
  margin: 0 auto;
  margin-top: 31.125px;
  color: #FFFFFF;
  font-weight: bold;
  text-align: center;
  font-size: 37px;
}

.three {
  grid-column: 1/3;
  background-color: #FFD066;
  padding: 20px;
}
.three > h3 {
  font-size: 22px;
  margin: 30px auto;
}

p {
  font-size: 18px;
}
.four {
  grid-column: 1/3;
}

.five {
  grid-column: 1/3;
}

.products {
  background-color: #F2F2F2;
  max-width: 900px;
  margin: 0px auto;
  padding: 20px;
}

.products > h3 {
  margin: 30px auto;
  font-size: 22px
}

.image-grid {
  margin: 0px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  padding: 14px;
  grid-gap: 20px;
  object-fit:scale-down;
}

.pusheen {
  border: solid black 4px;
  max-width: 263.8px;
  max-height: 263.8px;
}

.end-box {
  background-color: #25547C;
  max-width: 900px;
  margin: 0px auto;
  padding: 20px;
}

.end-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
}

h4 {
  color: #EE476F;
  text-align: center;
  text-transform: uppercase;
  font-size: 22px;
}

.end-box > p {
  color: white;
}
